<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<!-- templates/common/modal.html -->
	<div th:fragment="commonModal">
		<div class="modal fade" id="commonModal" tabindex="-1"
			aria-hidden="true">

			<!-- 더 넓게 + 내부 스크롤 허용 -->

			<div class="modal-dialog modal-xl modal-dialog-scrollable"
				style="width: calc(100vw - 24px); max-width: 1400px;">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="commonModalLabel">검색</h5>

						<!-- 검색창 -->
						<input type="text" id="commonModalSearch"
							class="form-control ms-3" placeholder="검색어 입력"
							style="width: 220px;">

						<!-- <button class="btn btn-success btn-sm"
							onclick="ExportHelper.exportExcel(table, document.getElementById('commonModalLabel').textContent)">
							Excel 내보내기</button> -->
						<!-- <button class="btn btn-danger btn-sm"
							onclick="ExportHelper.exportPDF(table, document.getElementById('commonModalLabel').textContent)">
							PDF 내보내기</button> -->

						<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
					</div>

					<!-- 모달 바디: 가로/세로 스크롤 모두 허용 + 오른쪽 패딩 최소화 -->
					<div class="modal-body p-2" style="overflow: auto;">
						<!-- Tabulator 테이블 컨테이너 -->
						<!-- 최소 너비 확보: 열이 많아도 오른쪽 버튼 열이 안 잘림 -->

						<div id="commonModalTable" style="width: 100%; min-width: 980px;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Tabulator CSS/JS -->
	<link
		href="https://unpkg.com/tabulator-tables@5.5.2/dist/css/tabulator.min.css"
		rel="stylesheet">
	<script
		src="https://unpkg.com/tabulator-tables@5.5.2/dist/js/tabulator.min.js"></script>

	<style>
#commonModal .tabulator {
	width: 100%;
}

#commonModal .tabulator .tabulator-tableholder {
	overflow-x: auto !important;
	padding-bottom: 2px; 
}


#commonModal .tabulator {
	margin-top: 4px;
}
</style>
</body>
</html>