<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/main}">
<head>
<meta name="_csrf" content="${_csrf.token}" />
<meta name="_csrf_header" content="${_csrf.headerName}" />
<link rel="stylesheet" th:href="@{/erp/css/sales1/salesStyle.css}" />
<link
	href="https://unpkg.com/tabulator-tables@5.5.2/dist/css/tabulator.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body layout:fragment="content">

	<div id="layoutSidenav_content">
		<main>
			<div class="containerBox">
				<div class="container-fluid px-4">
					<h1 class="mt-4">단가관리</h1>
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item"><a th:href="@{/dashboard}">Dashboard</a></li>
						<li class="breadcrumb-item active">단가관리</li>
					</ol>
				</div>

				<!-- 버튼 영역 -->
				<!-- ㅣㅣ -->
				<div class="d-flex align-items-center mb-3 justify-content-end">
					<button class="btn btn-warning me-2" onclick="filterSelect">검색</button>
					<button class="btn btn-primary me-2"
						onclick="showDetailModal('regist')">신규</button>
					<button class="btn btn-danger me-2" id="deleteSelected">삭제</button>
					<button class="btn btn-dark me-2">초기화</button>
				</div>

				<!-- 검색 바 -->
				<div class="searchTool d-flex align-items-center mb-3">

					<div class="me-5">
						<label for="partnerNameSearch" class="me-3">거래처명</label>
						<div class="d-flex align-items-center">
							<div class="input-group input-group-sm">
								<input type="hidden" id="partnerCode" name="partnerCode">
								<input type="text" class="form-control w-auto"
									placeholder="검색어 입력" id="partnerName">
								<button class="btn btn-outline-secondary" type="button"
									onclick="openModal('partner', function(selected) {
					                    document.getElementById('partnerName').value=selected.partnerName;
									document.getElementById('partnerCode').value=selected.partnerCode;})">
									<i class="bi bi-search"></i>
								</button>
							</div>
						</div>
					</div>


					<div class="me-5">
						<label for="productNameSearch" class="me-3">품목명</label>
						<div class="d-flex align-items-center">
							<div class="input-group input-group-sm">
								<input type="text" class="form-control w-auto"
									placeholder="검색어 입력" id="productNameSearch">
								<button class="btn btn-outline-secondary" type="button"
									onclick="openSalesModal()">
									<i class="bi bi-search"></i>
								</button>
							</div>
						</div>
					</div>


					<div class="me-5">
						<label for="priceGroupSearch" class="me-3">단가그룹</label>
						<div class="d-flex align-items-center">
							<div class="input-group input-group-sm">
								<input type="text" class="form-control w-auto"
									placeholder="검색어 입력" id="priceGroupSearch">
								<button class="btn btn-outline-secondary" type="button"
									onclick="openSalesModal()">
									<i class="bi bi-search"></i>
								</button>
							</div>
						</div>
					</div>

				</div>

				<div class="d-flex justify-content-between align-items-center mb-3">
					<div class="btn-group btn-type ms-2" role="group"
						aria-label="type-filter" id="priceTab">
						<button type="button" class="btn btn-primary" data-type="ALL">전체</button>
						<button type="button" class="btn btn-outline-primary"
							data-type="PRODUCT">품목단가</button>
						<button type="button" class="btn btn-outline-primary"
							data-type="PARTNER">거래처단가</button>
					</div>

					<div class="d-flex align-items-center">
						<button class="btn btn-secondary me-2" onclick="insertAc()">회계일괄반영</button>
						<button class="btn btn-secondary me-2" onclick="getHirtory()">이력조회</button>
						<button class="btn btn-secondary me-2" onclick="getPrint()">인쇄</button>
						<button class="btn btn-secondary me-2" onclick="getExcel()">Excel</button>
					</div>
				</div>

				<!-- 컬럼 선택 체크박스 -->
				<div class="mb-2">
					<label th:each="col : ${columns}" class="me-2"> <input
						type="checkbox" class="colCheckbox" th:value="${col}"
						th:checked="${col == '단가그룹코드' or col == '단가그룹명' or col == '단가' or col == '거래처설정' or col == '품목설정' or col == '사용구분'}" />
						<span th:text="${col}"></span>
					</label>
				</div>


				<!-- Tabulator 테이블 -->
				<div id="productTable"></div>

				<!-- 결제정보 모달 -->
				<div class="modal fade" id="paymentModal" tabindex="-1"
					aria-hidden="true">
					<div class="modal-dialog modal-xl">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="ModalLabel">결제정보</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
							</div>
							<div
								class="modal-body d-flex justify-content-center align-items-center">
							</div>
						</div>
					</div>
				</div>

				<!-- 신규/상세 모달 -->
				<div class="modal fade" id="newDetailModal" tabindex="-1"
					aria-hidden="true">
					<div class="modal-dialog modal-lg modal-dialog-centered">
						<div class="modal-content">
							<!-- 모달 헤더 -->
							<div class="modal-header">
								<h5 class="modal-title"></h5>
								<div>
									<button type="button" class="btn btn-primary"
										onclick="saveModal()">저장</button>
									<button type="button" class="btn btn-dark"
										onclick="resetModal()">초기화</button>
									<button type="button" class="btn btn-secondary"
										onclick="getModal()">가져오기</button>
									<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
								</div>
							</div>
							<!-- 모달 바디 -->
							<div class="modal-body">
								<form id="itemForm">
									<div class="row mb-3">
										<label class="col-sm-3 col-form-label">단가그룹코드</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" name="priceGroupCode"
												disabled placeholder="자동생성">
										</div>
									</div>
									<div class="row mb-3">
										<label class="col-sm-3 col-form-label">단가그룹명*</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" name="priceGroupName"
												required>
										</div>
									</div>
									<div class="row mb-3">
										<label class="col-sm-3 col-form-label">단가*</label>
										<div class="col-sm-9">
											<input type="number" class="form-control" name="price"
												required>
										</div>
									</div>
									<div class="row mb-3">
										<label class="col-sm-3 col-form-label">단가유형*</label>
										<div class="col-sm-9 d-flex align-items-center">
											<div class="form-check me-3">
												<input class="form-check-input" type="radio"
													name="priceType" id="priceType1" value="기준단가" required>
												<label class="form-check-label" for="priceType1">기준단가</label>
											</div>
											<div class="form-check me-3">
												<input class="form-check-input" type="radio"
													name="priceType" id="priceType2" value="거래처별단가"> <label
													class="form-check-label" for="priceType2">거래처별단가</label>
											</div>
											<div class="form-check">
												<input class="form-check-input" type="radio"
													name="priceType" id="priceType3" value="품목별단가"> <label
													class="form-check-label" for="priceType3">품목별단가</label>
											</div>
										</div>
									</div>

									<div class="row mb-3">
										<label class="col-sm-3 col-form-label">비고</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" name="remarks">
										</div>
									</div>
								</form>
							</div>

						</div>
					</div>
				</div>


			</div>
		</main>
	</div>
	<div th:replace="common/modal :: commonModal"></div>

	<script th:inline="javascript">
		var columns = /*[[${columns}]]*/[];
		var rows = /*[[${rows}]]*/[];
	</script>
	<script
		src="https://unpkg.com/tabulator-tables@5.5.2/dist/js/tabulator.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
	<script th:src="@{/erp/js/sales1/salesCommon.js}"></script>
	<script th:src="@{/erp/js/sales1/priceList.js}"></script>
</body>
</html>
