<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/main}">
<head>
<meta name="_csrf" content="${_csrf.token}" />
<meta name="_csrf_header" content="${_csrf.headerName}" />
<link rel="stylesheet" th:href="@{/erp/css/sales1/salesStyle.css}" />
<link
	href="https://unpkg.com/tabulator-tables@5.5.2/dist/css/tabulator.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body layout:fragment="content">

	<div id="layoutSidenav_content">
		<main>
			<div class="containerBox">
				<div class="container-fluid px-4">
					<h1 class="mt-4">출하관리</h1>
				</div>


				<!-- 검색 바 -->
				<div class="searchTool d-flex align-items-center mb-3">
					<div class="d-flex">

						<div>
							<label for="partnerNameSearch" class="me-3">출하지시서코드</label>
							<div class="me-5 d-flex align-items-center">
								<div class="input-group input-group-sm">
									<input type="text" class="form-control w-auto"
										placeholder="검색어 입력" id="shipmentCode" name="shipmentCode">
								</div>
							</div>
						</div>





						<div>
							<label for="partnerNameSearch" class="me-3">거래처</label>
							<div class="me-5 d-flex align-items-center">
								<div class="input-group input-group-sm">
									<input type="hidden" id="partnerCodeSearch" name="partnerCode">
									<input type="text" class="form-control w-auto"
										placeholder="검색어 입력" id="partnerNameSearch">
									<button class="btn btn-outline-secondary" type="button"
										onclick="openModal('salesPartner', function(selected) {
                    document.getElementById('partnerNameSearch').value = selected.partnerName;
                    document.getElementById('partnerCodeSearch').value = selected.partnerCode;

                })">
										<i class="bi bi-search"></i>
									</button>
								</div>
							</div>
						</div>

						<div >
							<label for="warehouseCodeSearch"
								class="me-3">창고</label>
							<div class="me-5 d-flex align-items-center">
								<div class="input-group input-group-sm">
									<input type="text" class="form-control w-auto"
										placeholder="검색어 입력" id="warehouseCodeSearch">
									<button class="btn btn-outline-secondary" type="button"
										onclick="openModal('commonCode', function(selected) {
                                        document.getElementById('warehouseCodeSearch').value=selected.codeName;}, 'GRP003')">
										<i class="bi bi-search"></i>
									</button>
								</div>
							</div>
						</div>



					</div>

					<div class="d-flex flex-column align-items-start ms-3">
						<div style="height: 24px;"></div>

						<div class="d-flex align-items-center">
							<button class="btn btn-warning me-2 btn-sm"
								onclick="filterSearch()">검색</button>
							<button class="btn btn-dark btn-sm"
								onclick="filterReset('.searchTool')">초기화</button>
						</div>
					</div>

				</div>


				<div class="d-flex justify-content-between align-items-center mb-3">
					<div class="btn-group btn-type ms-2" role="group"
						aria-label="type-filter" id="shipmentTab">
						<button type="button" class="btn btn-primary" data-type="ALL">전체</button>
						<button type="button" class="btn btn-outline-primary"
							data-type="NONCHECK">미확인</button>
						<button type="button" class="btn btn-outline-primary"
							data-type="ONSHIPMENT">출하중</button>
						<button type="button" class="btn btn-outline-primary"
							data-type="SUCCESSHIPMENT">출하완료</button>
						<button type="button" class="btn btn-outline-primary"
							data-type="SUCCESSAC">회계반영완료</button>
					</div>

					<div class="d-flex align-items-center">
						<button class="btn btn-primary me-2"
							onclick="showDetailModal('regist')">신규</button>
						<button class="btn btn-secondary me-2" onclick="insertAc()">회계일괄반영</button>
					</div>
				</div>

				<div class="mb-2">
					<label th:each="col : ${columns}" class="me-2"> <input
						type="checkbox" class="colCheckbox" th:value="${col}"
						th:checked="${col == '출하지시서코드' or col == '출하예정일자' or col == '거래처명' or col == '담당자' or col == '창고명' or col == '품목명' or col == '수량합계' or col == '진행상태'}" />
						<span th:text="${col}"></span>
					</label>
				</div>


				<div id="productTable"></div>


				<div class="modal fade" id="newDetailModal" tabindex="-1"
					aria-hidden="true">
					<div class="modal-dialog modal-xl modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title"></h5>
								<div class="d-flex align-items-center">
									<button type="button" class="btn btn-primary me-2"
										onclick="saveModal()">저장</button>
									<button type="button" class="btn btn-dark me-3"
										onclick="resetQuote()">초기화</button>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
							</div>

							<div class="modal-body">
								<form id="quoteForm">

									<div class="row mb-3 g-3 border-bottom pb-3">
										<h6 class="mt-4 mb-2 fw-bold">1. 기본정보</h6>

										<div class="col-6 d-flex align-items-center">
											<label for="partnerNameModal"
												class="col-form-label fw-bold text-nowrap"
												style="width: 120px;">거래처*</label>

											<div class="input-group input-group-sm"
												style="max-width: 400px;">
												<input type="hidden" id="partnerCodeModal"
													name="partnerCode"> <input type="text"
													class="form-control" placeholder="검색어 입력"
													id="partnerNameModal" name="partnerName">
												<button class="btn btn-outline-secondary" type="button"
													onclick="openModal('salesPartner', function(selected) {
                document.getElementById('partnerNameModal').value = selected.partnerName;
                document.getElementById('partnerCodeModal').value = selected.partnerCode;
                document.getElementById('manager').value = selected.name;
				document.getElementById('empCode').value = selected.manager;
				document.getElementById('managerPhone').value = selected.phone;
                document.getElementById('partnerPhone').value = selected.partnerPhone;
                document.getElementById('postCode').value = selected.postCode;
                document.getElementById('address').value = selected.address;


            })">
													<i class="bi bi-search"></i>
												</button>
											</div>
										</div>










										<div class="col-6 d-flex align-items-center">
											<label for="partnerPhone"
												class="col-form-label fw-bold text-nowrap"
												style="width: 120px;">거래처 연락처*</label>

											<div class="input-group input-group-sm"
												style="max-width: 400px;">
												<input type="text" class="form-control" id="partnerPhone">
											</div>
										</div>



										<div class="col-12 d-flex flex-column">

											<div class="d-flex align-items-center mb-2">
												<label for="zipcode"
													class="col-form-label fw-bold text-nowrap"
													style="width: 120px;">납품장소*</label>

												<div class="input-group input-group-sm me-2"
													style="max-width: 400px;">
													<input type="text" class="form-control" name="postCode"
														id="postCode" placeholder="우편번호" readonly>
												</div>

												<button class="btn btn-secondary btn-sm" type="button">변경</button>

											</div>

											<div class="d-flex align-items-center">
												<div style="width: 120px;"></div>

												<input type="text" class="form-control form-control-sm"
													name="address" id="address" placeholder="상세 주소"
													style="max-width: 962px;">
											</div>
										</div>







										<div class="col-6 d-flex align-items-center">
											<label for="manager"
												class="col-form-label fw-bold text-nowrap"
												style="width: 120px;">담당자*</label>

											<div class="input-group input-group-sm"
												style="max-width: 400px;">
												<input type="hidden" id="empCode" name="empCode"> <input
													type="text" class="form-control" id="manager"
													name="manager">
												<button class="btn btn-outline-secondary" type="button"
													onclick="openModal('salesEmployee', function(selected) {
                document.getElementById('manager').value = selected.name;
				document.getElementById('empCode').value = selected.empCode;
				document.getElementById('managerPhone').value = selected.phone;


            })">
													<i class="bi bi-search"></i>
												</button>
											</div>
										</div>

										<div class="col-6 d-flex align-items-center">
											<label for="managerPhone"
												class="col-form-label fw-bold text-nowrap"
												style="width: 120px;">담당자 연락처*</label>

											<div class="input-group input-group-sm"
												style="max-width: 400px;">
												<input type="text" class="form-control" id="managerPhone">
											</div>
										</div>









										<div class="col-6 d-flex align-items-center">
											<label for="quoteDeliveryDateText"
												class="col-form-label fw-bold text-nowrap"
												style="width: 120px;">출하예정일*</label>
											<div class="input-group input-group-sm"
												style="max-width: 400px;">
												<input type="date" class="form-control form-control-sm"
													id="quoteDeliveryDateText" name="deliveryDateText"
													style="flex-grow: 1;">
											</div>

										</div>

										<div class="col-6 d-flex align-items-center">
											<label for="warehouse"
												class="col-form-label fw-bold text-nowrap"
												style="width: 120px;">출하창고*</label>
											<div class="col-sm-7">
												<select class="form-select comboSelect form-select-sm"
													name="warehouse"></select>
											</div>
										</div>



















										<div class="col-12 d-flex align-items-start">
											<label for="quoteRemarks"
												class="col-form-label fw-bold text-nowrap pt-1"
												style="width: 120px;">비고</label>
											<textarea class="form-control form-control-sm"
												id="quoteRemarks" name="remarks" rows="2"
												style="max-width: 962px;"></textarea>
										</div>

									</div>
								</form>

								<div
									class="d-flex justify-content-between align-items-center mt-4 mb-2">
									<h6 class="fw-bold mb-0">2. 출하항목</h6>
									<button type="button" class="btn btn-secondary"
										onclick="selectOrders()">주문서조회</button>
								</div>

								<div class="table-responsive">
									<table id="quoteDetailTable"
										class="table table-bordered table-sm">
										<thead class="table-light text-center">
											<tr>
												<th style="width: 30px;"></th>
												<th style="width: 15%;">품목코드*</th>
												<th style="width: 15%;">품목명</th>
												<th style="width: 10%;">총수량</th>
												<th style="width: 10%;">지시완료수량</th>
												<th style="width: 10%;">미지시수량</th>
												<th style="width: 10%;">재고</th>
												<th style="width: 10%;">현지시수량*</th>
												<th style="width: 10%;">출하지시여부</th>
												<th style="width: 15%;">비고</th>
											</tr>
										</thead>
										<tbody id="itemDetailBody">
											<tr class="new-item-row bg-light" data-row-id="new">
												<td class="text-center"><input type="checkbox"
													class="form-check-input"></td>
												<!-- 품목코드 -->
												<td><input type="text"
													class="form-control form-control-sm item-input"
													name="productCode" id="productCode" placeholder="코드"
													readonly><input type="hidden"
													name="orderDetailCode" id="orderDetailCode"></td>
												<!-- 품목명 -->
												<td><input type="text"
													class="form-control form-control-sm item-input"
													name="productName" id="productName" disabled></td>
												<!-- 총수량 -->
												<td><input type="text"
													class="form-control form-control-sm item-input"
													name="quantity" id="quantity" disabled></td>
												<!-- 지시완료수량 -->
												<td><input type="text"
													class="form-control form-control-sm item-input"
													name="completeQuantity" id="completeQuantity" disabled></td>
												<!-- 미지시수량 -->
												<td><input type="text"
													class="form-control form-control-sm item-input"
													name="nonShipment" id="nonShipment" disabled></td>
												<!-- 재고 -->
												<td><input type="text"
													class="form-control form-control-sm item-input text-end"
													name="stock" id="stock" disabled></td>
												<!-- 현지시수량 -->
												<td><input type="text"
													class="form-control form-control-sm item-input text-end"
													name="nowQuantity" id="nowQuantity" value="0"
													oninput="validateNowQuantity(this)"></td>
												<!-- 출하지시여부 -->
												<td><input type="text"
													class="form-control form-control-sm item-input text-end"
													name="isShipment" id="isShipment" value="0" readonly></td>
												<!-- 비고 -->
												<td><input type="text"
													class="form-control form-control-sm item-input"
													name="remarks" id="remarks"></td>
											</tr>

										</tbody>
									</table>
								</div>


							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
	<div id="modalOverlay" class="modal-overlay" style="display: none;"></div>

	<div id="postcodeLayer" class="postcode-layer">
		<div class="close-btn text-end p-2">
			<button type="button" class="btn-close"
				onclick="document.getElementById('postcodeLayer').style.display='none'">
			</button>
		</div>
	</div>


	<div th:replace="common/modal :: commonModal"></div>


	<script th:inline="javascript">
		var columns = /*[[${columns}]]*/[];
		var rows = /*[[${rows}]]*/[];
	</script>
	<script
		src="https://unpkg.com/tabulator-tables@5.5.2/dist/js/tabulator.min.js"></script>
	<script
		src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<!-- 분리한 JS 파일 -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
	<script th:src="@{/erp/js/sales1/salesCommon.js}"></script>
	<script th:src="@{/erp/js/sales1/shipmentList.js}"></script>
	<script th:src="@{/erp/js/sales1/salesModal.js}"></script>
</body>
</html>
