@charset "UTF-8";

/*검색바*/
.searchTool {
	padding: 10px;
}

.containerBox {
	padding: 30px;
}

#productTable {
	height: 500px; /* 테이블 전체 높이 고정 */
	width: 100%; /* 테이블 가로폭 100% */
}

.tabulator-cell img {
	max-height: 40px;
	display: block;
	margin: 0 auto;
}

#imgModal .modal-dialog {
	top: 20%; /* 화면 상단에서 10% 아래 */
	max-width: 70%; /* 가로 최대 폭 */
}

#partnerTab {
	padding: 10px;
}

#postcodeLayer {
	display: none;
	position: fixed; /* 반드시 fixed */
	width: 400px;
	height: 530px; /* 푸터까지 포함 */
	bottom: 100px; /* 아래 여백 */
	right: 300px; /* 오른쪽 여백 */
	z-index: 9999;
	background-color: #fff;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
	border: 2px solid #ccc;
	overflow: hidden;
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1100; /* 모달보다 위 */
	display: none;
	pointer-events: auto;
}

.choices__list--dropdown {
	z-index: 1060 !important;
}

#paymentTable {
	min-width: 1000px;
}
