<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="formulaModal">
		<!-- 급여 명세서 조회 모달 -->
		<div class="modal fade" id="payDetailModal" tabindex="-1"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<!-- 헤더 -->
					<div class="modal-header">
						<h5 class="modal-title">명세서 조회</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫기"></button>
					</div>
					<!-- 바디 -->
					<div class="modal-body" id="payDetailModalBody">안녕</div>
					<!-- 푸터 (선택) -->
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>