<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/main}">

<head>
    <!-- Tabulator CSS -->
    <link href="https://unpkg.com/tabulator-tables@5.5.2/dist/css/tabulator.min.css" rel="stylesheet">
    <!-- Custom CSS for layout -->
    <style>
        .flex-nowrap {
            flex-wrap: nowrap !important;
        }
    </style>
</head>

<body layout:fragment="content">
	<div id="layoutSidenav_content">
		<main>
			<div class="container-fluid px-4">
				<h1 class="mt-4">영업계획목록(IY002)</h1>

				<!-- flex-nowrap을 추가하여 줄바꿈을 방지 -->
				<div class="row flex-nowrap">

					<!-- flex-grow-1을 추가하여 테이블이 남은 공간을 모두 차지하도록 설정 -->
					<div class="col flex-grow-1">
						<div class="d-flex justify-content-end gap-2 mb-3">
							<!-- 버튼 -->
							<button id="btn-new" class="btn btn-primary me-2" >신규</button>
							<button class="btn btn-secondary me-2">Excel</button>
							<button class="btn btn-secondary me-2">인쇄</button>
						</div>

						<!-- Tabulator가 테이블을 생성할 div -->
						<div id="sales-table"></div>
					</div>
	
				<!-- 영업계획 등록 모달 -->
				<div class="modal fade" id="insertSalesModal" tabindex="-1" aria-hidden="true">
				  <div class="modal-dialog" style="max-width: 1400px;">
				    <div class="modal-content">
				
				      <!-- 모달 헤더 -->
				      <div class="modal-header">
				        <h5 class="modal-title">영업계획 등록</h5>
				        <div class="ms-auto d-flex gap-2">
				          <button type="button" class="btn btn-primary" id="btn-save-sales">저장</button>
				          <button type="button" class="btn btn-outline-dark" id="btn-reset-sales">초기화</button>
				          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				        </div>
				      </div>
				
				      <!-- 모달 바디 -->
				      <div class="modal-body">
				        <div class="row">
				          
				          <div class="container-fluid">
							  <div class="row">
							    <!-- 왼쪽 : 작년 영업계획 -->
							    <div class="col-md-6">
							      <h5 class="mb-3">작년 영업계획</h5>
							      <div id="lastYearTable"></div>
							    </div>
							
							    <!-- 오른쪽 : 올해 영업계획 등록 -->
							    <div class="col-md-6">
							      <h5 class="mb-3">올해 영업계획 등록</h5>
							      <div id="thisYearTable"></div>
							    </div>
							  </div>
							</div>

				        </div>
				      </div>
				    </div>
				  </div>
				</div>
	
					<!--오른쪽: 유의사항 -->
					<div class="col-auto ms-3 bg-light rounded p-3 shadow-sm"
						style="min-width: 250px;">
						<h5 class="text-danger fw-bold">유의사항</h5>
		
						<!-- 미수금 상위 거래처 -->
						<div class="mb-4 border p-2">
							<strong>미수금 상위 5 거래처</strong>
							<table class="table table-borderless mb-0">
								<tbody>
									<tr><td>거래처 a</td></tr>
									<tr><td></td></tr>
									<tr><td>-</td></tr>
									<tr><td>-</td></tr>
									<tr><td>-</td></tr>
								</tbody>
							</table>
						</div>
		
						<!-- 여신초과 거래처 -->
						<div class="border p-2">
							<strong>여신초과 거래처</strong>
							<table class="table table-borderless mb-0">
								<tbody>
									<tr><td>거래처f</td></tr>
									<tr><td></td></tr>
									<tr><td>-</td></tr>
									<tr><td>-</td></tr>
									<tr><td>-</td></tr>
								</tbody>
							</table>
						</div>
					</div>

				</div>
				<!-- row 끝 -->
			</div>
			<!-- container-fluid 끝 -->
		</main>
	</div>
	
	<!-- Tabulator JS -->
    <script src="https://unpkg.com/tabulator-tables@5.5.2/dist/js/tabulator.min.js"></script>
	<script th:src="@{/sales2/js/salesList.js}"></script>
</body>
</html>


